/* estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  /* font-size: 1.2rem; */
  color: #354f52;
  /* word-spacing: 0.35rem; */
}

h1{
  letter-spacing: 0.6rem;
}
.contenedor {
  display: grid;
  grid-template:
    "nav" 
    "header" 
    "main" 
    "footer";

  .nav {
    grid-area: nav;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }
  div img {
    width: 100%;
    height: 80%;
  }
  
}
  /* Estilos del encabezado */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* Color de fondo del navbar */
  }
  
  header .logo-container {
    display: flex;
    align-items: center;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #000;
    font-size: larger;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: #84a98c;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav li a:hover {
    color: #cad2c5;
  }
    
  .logo-image {
    max-height: 50px;
  }
  
  /* estilo boton claro oscuro */
  .dark-mode {
    background-color: gainsboro !important;
  }
  
  #theme-toggle-btn {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #theme-toggle-btn:hover {
    background-color: #84a98c59;
  }
  
  /* estilo main */
  .main{
    text-align: center;
    padding: 0px 400px 200px 400px;
    h1 {
      margin: 0px 0px 50px 0px;
    }
  }
  
  /* estilo footer */
  footer {
    color: #fff;
    padding: 2rem;
    background-color: #333333df;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    place-items: center;
  }
  
  .footer-section {
    text-align: center;
  }
  
  .footer-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .footer-section a:hover {
    color: #ddd;
  }
  
  .footer-section p {
    text-align: center;
  }
  
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
  }    
  
  #logo-image-footer {
    max-height: 75px;
  }
  
  #ul-social {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  /* Media query */
  
  @media only screen and (max-width: 1100px) {
    #letters {
      overflow-x: scroll;
    }
  }






 
