* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  width: 100%;
  height: 80%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: #354f52;
  word-spacing: 0.35rem;
}
h1{
  letter-spacing: 0.6rem;
}

.contenedor {
  display: grid;
  grid-template:
    "nav" 80px
    "header" 
    "main"
    "footer" 100px;

  .nav {
    grid-area: nav;
  }

  .header {
    grid-area: header;
  }


  .main {
    grid-area: main;
    text-align: center;
    padding: 0px 200px 0px 200px;
    h1 {
      margin: 0px 0px 50px 0px;
    }
  }

  .footer {
    grid-area: footer;
  }
}
@media only screen and (max-width:767px) {
  
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  
}
@media only screen and (min-width:1024px) and (max-width:1439px) {
  
}
@media only screen and (max-width:1440px) {
  
}