* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
img {
  width: 100%;
  height: 70%;
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  word-spacing: 0.3rem;
}
h5, h1{
  color: #354f52;
}
h1{
  letter-spacing: 0.5rem;
}

.contenedor{
  display: grid;
  grid-template:
  "nav" 80px
  "header" 
  "main"
  "footer" 100px ;

  .nav{
    grid-area: nav;
  }
  .header{
    grid-area: header;
  }
 
  .main{
    grid-area: main;
    padding: 0px 300px; 
    h1{
      margin-bottom: 70px;
      text-align: center;
    }
  }
  .footer{
    grid-area: footer;
  }
} 